/*
footer {
    position: fixed;
    bottom: 0px;
    left: 10px;
    right: 10px;
    margin-bottom: 10px;
}
*/

#toprightdiv {
  position: fixed;
  top: 20px;
  right: 0;
  margin-right: 20px;
  color: red;
  border: 2px solid black; /* This adds a line around the div */
  background-color: yellow; /* This sets the background color of the div */
  padding: 5px; /* This adds space around the text inside the div */
}


#toprightdiv_pagenumber {
  position: fixed;
  top: 65px;
  right: 0;
  margin-right: 20px;
  color: red;
  border: 2px solid black; /* This adds a line around the div */
  background-color: yellow; /* This sets the background color of the div */
  padding: 5px; /* This adds space around the text inside the div */
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column {
    float: left;
    width: 20%;
  }

  .column2 {
    float: left;
    width: 60%;
    padding: 15px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 


input[type="radio"] {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.defocus {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    margin-left: 10%;
    margin-right: 10%;
}


.w-xl {
    width: 100%;
    max-width: calc(3 * 320px);
    max-width: calc(3 * var(--width-min-container));
    margin-left: auto;
    margin-right: auto;
  }


  /* adjust affective imagery*/
.form-group {
  margin: 5px
}

.form-control {
  width: 100%;
}

input:focus, textarea:focus {
  outline: none;
}

input:focus {
  border-color: black;
}

input[type="text"]:disabled {
  background: rgb(200, 200, 200);
}


.progress-bar-AffectiveImg {
  width: 0%;
  min-height: 8px;
  background-color: #f8f8f8;
  background-color: var(--color-gray-background);
  border-right: 1px solid #efefef;
  border-right: 1px solid var(--color-border-internal);
  box-sizing: content-box;
}


.buttons {
  margin: 0 auto;
  margin-left: 30%;
}

body {
  font-size: 20px; /* Adjust this value as needed */
}


/* .relation task */
.mainRelationTask {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.columnRelationTask {
  width: 30%;
  z-index: 2;
}
.wordRelationTask {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.boxRelationTask {
  background: #f0f0f0;
  padding: 10px;
  margin: 30px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.boxRelationTask:hover {
border-color: #007bff;
background-color: #dbeeff;
}
.selected {
  border-color: #007bff;
  background-color: #dbeeff;
}
.jtk-connector:hover {
  stroke: red !important;
  stroke-width: 3 !important;
  cursor: pointer;
}
.middle-space {
  width: 35%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin: 0 10px;
}